<!DOCTYPE html>
<html lang="ja">
{% if ( metadata.url === '' ) %}
<head prefix="og:  fb:  website: ">
{% else %}
<head prefix="og:  fb:  article: ">
{% endif %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>グランドチャンピオンズトロフィー | JD.LEAGUE（JDリーグ）公式サイト | 女子ソフトボール新リーグ 2022年春開幕</title>
  <meta name="description" content="">
  <meta property="og:title" content="グランドチャンピオンズトロフィー | JD.LEAGUE（JDリーグ）公式サイト | 女子ソフトボール新リーグ 2022年春開幕">
  {% if ( metadata.url === '' ) %}
  <meta property="og:type" content="website"/>
  {% else %}
  <meta property="og:type" content="article"/>
  {% endif %}
  <meta property="og:description" content="">
  <meta property="og:url" content="https://jdleague.jp/special/tasaki/">
  <meta property="og:image" content="https://jdleague.jp/images/common/tasaki_ogp_image.png">
  <meta property="og:site_name" content="JD.LEAGUE（JDリーグ）公式サイト">
  <link rel="icon" href="images/common/favicon.ico">
  <link rel="canonical" href="">
  <link rel="stylesheet" href="/assets/css/style.css">
  {% block css %}{% endblock %}
  <script> </script> <!-- Chromeのページロード時のtransition動作バグ対策 -->
</head>
<body>
  <div id="wrap">
    {% include "_templates/_layouts/_header.html" %}
    <main class="contents">
      {% block body %}{% endblock %}
    </main>
    {% include "_templates/_layouts/_footer.html" %}
  </div>
  {% include "_templates/_foundation/_js.html" %}
  {% block js %}{% endblock %}
</body>
</html>
