.mv {
    background: $gradient_bg;

    &__inner {
        max-width: 1240px;
        height: 700px;
        padding: 0 64px;
        margin: 0 auto;
        background-image: url(../../images/mv.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 560px 737px;
        display: flex;
        align-items: center;
        position: relative;
    }

    &__titlearea {
        color: $text_color;
        position: relative;

        &::after {
            display: block;
            content: "";
            background-image: url(../../images/teiji-de-kaerumon.svg);
            width: 326px;
            height: 68px;
            position: absolute;
            right: 50px;
            bottom: 60px;
            transform: rotate(-13deg);
        }
    }

    &__subtitle {
        font-size: clamp(1.2rem, 2vw, 2.4rem);
        font-weight: bold;
        line-height: 1;
        color: $color_main;
        margin-bottom: 5px;
    }

    &__title {
        font-size: clamp(24px, 10vw, 100px);
        font-weight: bold;
        line-height: 1;
        margin-bottom: 10px;

        @include sp{
            font-size: 10vw;
        }
    }

    &__date {
        font-size: clamp(2rem, 3vw, 3.6rem);
        font-weight: bold;
        line-height: 1;
        letter-spacing: 0.07em;

        @include sp{
            font-size: 3vw;
        }
    }

    &__btn {
        margin-top: 24px;
    }

    &__speaker-name {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 2.1rem;
        font-weight: bold;
        line-height: 1;

        &-small {
            font-size: 1.6rem;
        }

        &-label {
            font-size: 1.4rem;
        }
    }
}