.session {

    &__table {
        width: 100%;
        font-size: 2.2rem;
        border-collapse: collapse;
        @include sp{
            font-size: 1.8rem;
        }

        tr {
            border-bottom: solid 1px #740174;
        }

        th {
            padding: 40px 30px;
            font-weight: bold;
            vertical-align: top;
            @include sp{
                padding: 20px 0;
            }
        }

        td {
            padding: 40px 30px;
            color: $color_main;
            @include sp{
                padding: 20px 0;
            }

            span {
                display: block;
                font-size: 1.6rem;
                color: $text_color;
                line-height: 1.5;
                margin-top: 20px;
                @include sp{
                    font-size: 1.3rem;
                    margin-top: 10px;
                }
            }
        }
    }
}