<section id="about" class="section about">
  <div class="container">
    <h2 class="section__title">
      about
      <span class="section__subtitle">イベントについて</span>
    </h2>
    <div class="about__inner">
      <picture class="about__image">
        <source srcset="images/about.webp" type=“image/webp”>
        <img src="images/about.jpg" alt="aboutイメージ" loading="lazy">
      </picture>
      <div class="about__detail">
        <div class="about__subtitle">テーマ</div>
        <h3 class="about__title">定時で帰る</h3>
        <p class="about__text">
          残業は心と体に良くないです。世界最速で定時に帰る男、ショーン・デイビット・ジュニア氏が定時で帰るためのスペシャルな技を紹介！<br>
          さぁ、Let's go home now!
        </p>
        <table class="about__table">
          <tbody>
            <tr>
              <th>日時</th>
              <td>2030年5月30日（土） 13:00-翌朝13:00</td>
            </tr>
            <tr>
              <th>会場</th>
              <td>オンライン</td>
            </tr>
            <tr>
              <th>定員</th>
              <td>3名</td>
            </tr>
            <tr>
              <th>参加費</th>
              <td>無料</td>
            </tr>
          </tbody>
        </table>
        <a href="#registor" class="btn btn--small">お申し込み</a>
      </div>
    </div>
  </div>
</section>