<section id="about" class="section about">
  <div class="container">
    <h2 class="section__title">
      about
      <span class="section__subtitle">イベントについて</span>
    </h2>
    <div class="about__inner">
      <figure class="about__image">
        <img src="images/about.jpg" alt="aboutイメージ">
      </figure>
      <div class="about__detail">
        <div class="about__subtitle">テーマ</div>
        <h3 class="about__title">定時で帰る</h3>
        <p class="about__text">
          残業は心と体に良くないです。世界最速で定時に帰る男、ショーン・デイビット・ジュニア氏が定時で帰るためのスペシャルな技を紹介！ さぁ、Let's go home now!
        </p>
      </div>
    </div>
  </div>
</section>