<header class="header">
  <div class="header__logo">
    <a href="">WDC</a>
  </div>
  <div class="header__nav">
    <nav class="gnav">
      <ul class="gnav__list">
        <li class="gnav__item">
          <a class="gnav__link" href="#about">about</a>
        </li>
        <li class="gnav__item">
          <a class="gnav__link" href="#speaker">speaker</a>
        </li>
        <li class="gnav__item">
          <a class="gnav__link" href="#session">session</a>
        </li>
      </ul>
    </nav>
  </div>
</header>