<div id="modal" class="modal">
  <div id="gallery_01" class="modal__body">
    <div class="modal-contents">
      <a class="modal-xmark modal-close">
        <span></span>
        <span></span>
      </a>
      <div class="modal-inner">
        <img src="images/slider_1.jpg" alt="" />
      </div>
    </div>
  </div>
  <div id="gallery_02" class="modal__body">
    <div class="modal-contents">
      <a class="modal-xmark modal-close">
        <span></span>
        <span></span>
      </a>
      <div class="modal-inner">
        <img src="images/slider_2.jpg" alt="" />
      </div>
    </div>
  </div>
  <div id="gallery_03" class="modal__body">
    <div class="modal-contents">
      <a class="modal-xmark modal-close">
        <span></span>
        <span></span>
      </a>
      <div class="modal-inner">
        <img src="images/slider_3.jpg" alt="" />
      </div>
    </div>
  </div>
  <div id="gallery_04" class="modal__body">
    <div class="modal-contents">
      <a class="modal-xmark modal-close">
        <span></span>
        <span></span>
      </a>
      <div class="modal-inner">
        <img src="images/slider_4.jpg" alt="" />    
      </div>
    </div>
  </div>
  <div id="gallery_05" class="modal__body">
    <div class="modal-contents">
      <a class="modal-xmark modal-close">
        <span></span>
        <span></span>
      </a>
      <div class="modal-inner">
        <img src="images/slider_5.jpg" alt="" />
      </div>
    </div>
  </div>
  <div id="gallery_06" class="modal__body">
    <div class="modal-contents">
      <a class="modal-xmark modal-close">
        <span></span>
        <span></span>
      </a>
      <div class="modal-inner">
        <img src="images/slider_6.jpg" alt="" />
      </div>
    </div>
  </div>
</div>