<div class="mv">
  <div class="mv__inner">
    <div class="mv__titlearea">
      <div class="mv__subtitle">Web Design Conference vol.24</div>
      <h2 class="mv__title">WORK<br>REVOLUTION</h2>
      <div class="mv__date">2030.05.30</div>
      <div class="mv__btn">
        <a href="#registor" class="btn">お申し込み</a>
      </div>
    </div>
    <div class="mv__speaker-name">
      ショーン・デイビット・ジュニア
      <span class="mv__speaker-name-small">氏</span><br>
      <span class="mv__speaker-name-label">Webデザイナー</span>
    </div>
  </div>
</div>