<section id="session" class="section session">
  <h2 class="section__title">
    session
    <span class="section__subtitle">セッション</span>
  </h2>
  <div class="container">
    <section class="session__schedule">
      <div class="session__time">13:00-14:00</div>
      <h3 class="session__title">
        ライトニングトーク：定時に帰る、それはアンドロイドになること
        <span>
          スピーカー：ショーン・デイビット・ジュニア<br>
          人間らしくあろうとすること、それが残業を生むのだ。さぁ！アンドロイドになるのだ！
        </span>
      </h3>
    </section>
    <section class="session__schedule">
      <div class="session__time">14:00-18:00</div>
      <h3 class="session__title">
        ショーンのとっておきの定時に帰る方法
        <span>
          スピーカー：ショーン・デイビット・ジュニア<br>
          アンドロイド的定時に帰る方法を紹介。ワタシ、テイジデカエリマス。
        </span>
      </h3>
    </section>
    <section class="session__schedule">
      <div class="session__time">18:00-24:00</div>
      <h3 class="session__title">
        公私混同仕事術
        <span>
          スピーカー：ミホコ・テニース<br>
          私は会社にもテニスラケットを持ち込む。そう、もういっそのこと仕事と趣味の境界線を消しましょう。
        </span>
      </h3>
    </section>
    <section class="session__schedule">
      <div class="session__time">24:00-13:00</div>
      <h3 class="session__title">
        超ネット仕事術
        <span>
          スピーカー：ジェシカ・パンナコッタ<br>
          ７年間一度も外出せずに仕事をする方法を紹介。自宅大好きっ！
        </span>
      </h3>
    </section>
  </div>
</section>