<section id="session" class="section session">
  <h2 class="section__title">
    session
    <span class="section__subtitle">セッション</span>
  </h2>
  <div class="container">
    <table class="session__table">
      <tbody>
        <tr>
          <th>13:00-14:00</th>
          <td>
            <p>
              ライトニングトーク：定時に帰る、それはアンドロイドになること
              <span>
                スピーカー：ショーン・デイビット・ジュニア<br>
                人間らしくあろうとすること、それが残業を生むのだ。さぁ！アンドロイドになるのだ！
              </span>
            </p>
          </td>
        </tr>
        <tr>
          <th>14:00-18:00</th>
          <td>
            <p>
              ショーンのとっておきの定時に帰る方法
              <span>
                スピーカー：ショーン・デイビット・ジュニア<br>
                アンドロイド的定時に帰る方法を紹介。ワタシ、テイジデカエリマス。
              </span>
            </p>
          </td>
        </tr>
        <tr>
          <th>18:00-24:00</th>
          <td>
            <p>
              公私混同仕事術
              <span>
                スピーカー：ミホコ・テニース<br>
                私は会社にもテニスラケットを持ち込む。そう、もういっそのこと仕事と趣味の境界線を消しましょう。
              </span>
            </p>
          </td>
        </tr>
        <tr>
          <th>24:00-13:00</th>
          <td>
            <p>
              超ネット仕事術
              <span>
                スピーカー：ジェシカ・パンナコッタ<br>
                ７年間一度も外出せずに仕事をする方法を紹介。自宅大好きっ！
              </span>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>